.mongoImg {
  height: 65px;
}

.nodeImg {
  margin-bottom:-1px;
}

.devBackgroundImage {
  object-fit:contain;
}

.youtube {
  height: 10px;
} 

.flexbox {
  display: flex;
  flex-direction: row;
  /*flex-wrap: wrap;*/
  width: 100%;
  /*background-color: red;*/
}

.portfolioDivs {
  width: 100%;
}

.container-fluid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
}

.flex1 {
  flex-direction: row;
  width:33%;
  max-width:100%;
}

.flex1 img {
  width: 100%;
}

.headertext h1{
  /*text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;*/
}

.headertext p {}