.mongoImg {
  height: 65px;
}

.nodeImg {
  margin-bottom:-1px;
}

.devBackgroundImage {
  object-fit:contain;
}

.youtube {
  height: 10px;
} 

.portfolioDivs {
  width: 100%;
}

.portContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-basis: 100%;
  width: 100%
  /*padding: 0;*/
}

.flex1 {
  /*display: flex;*/
  flex:0 0 100;
  /*flex-direction: row;*/
  width:33%;
/*  max-width:100%;*/
  /*flex: 0 0 1;*/
}

.flex1 img {
  width: 100%;
}

@media all and (max-width: 600px) {

/*  .flexbox {
    flex-flow: column wrap;
    flex-basis: content;
  }

*/}

.headertext h1{
  /*text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;*/
}

.headertext p {}